<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en" style="height:100%">
<head>
    <style>
    table, th, td{
    border: 2px solid black;
    }
    th, td{
    padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}
    table{
    width: 100%
    }
    th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  </style>
    <meta charset="ISO-8859-1">
    <title>User Risks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body style="height: 100%;display: flex;flex-direction: column;">
<div class="jumbotron jumbotron-fluid text-left" style="background-color:palegreen">
    <div class="container">
        <h3 style="font-style: bold">Edit Your Policy</h3>
        <!--        <label class="display-4" style="font-size:3rem" th:text="'Hello,' +' '+ ${#authentication.getPrincipal().getUsername()}"></label>-->
    </div>
</div>

<form style="margin:5%; margin-top:2%; margin-bottom:5%" th:action="@{/editPolicy/savePolicy}" method="post" th:object="${policy}">
    <div th:if = "${param.success}">
        <div class="alert alert-info">Risk Added Successfully</div>
    </div>
    <div th:if = "${param.failure}">
        <div class="alert alert-info alert-danger">Risk Already Added !!</div>
    </div>
    <div class="form-group">
        <table>
            <thead>
            <tr>
                <th>Risk Id</th>
                <th>Risk Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="risk : ${risks}">
                <td th:text="${risk.risk_id}">Id</td>
                <td th:text="${risk.title}">Name</td>
                <td th:text="${risk.description}">Description</td>
                <td><a class="btn btn-primary btn-sm" th:href="@{/editPolicy/{policyId}/{riskId} (policyId=${session.policyId},riskId=${risk.risk_id})}" >Add</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br><br>
    <div class="form-group" >
        <label>Policy Title</label>
        <input type="text" class="form-control" th:value="${policy.title}" th:field="*{title}" required/>
    </div>
    <div class="form-group">
        <label>Policy Description</label>
        <input type="text" class="form-control" th:value="${policy.description}" th:field="*{description}" required/>
    </div>

    <div style="display: flex;flex-direction: column;align-items: center;align-content: center;">
        <input type="submit" class="btn btn-primary"/>
    </div>
</form>
</body>
</html>