<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <title>MM Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body style="height: 100%;display: flex;flex-direction: column;">
<div class="jumbotron jumbotron-fluid text-center" style="background-color:palegreen">
    <div class="container" style="font-style: bold">
        <label class="display-5" th:text="'Welcome' + '  '"></label>
        <label class="display-5" sec:authentication=" principal.username" style="font-style: italic"></label>
    </div>
</div>
<div style="position:fixed; right:10px; top:5px; color:white">
    <a class="btn btn-light" th:href="@{/logout}">Logout</a>
</div>

<div style="display: flex;flex-direction: column;align-items: center;align-content: center;" sec:authorize="hasAuthority('USER')">
    <a class="btn btn-success btn-lg" th:href="@{/risk}">Add Risk</a><br><br>
    <a class="btn btn-success btn-lg" th:href="@{/policy}">Add Policy</a><br><br>
    <a class="btn btn-primary btn-lg" th:href="@{/userPolicies}">Risks & Policies</a><br><br>
    <a class="btn btn-warning btn-lg" th:href="@{/upload}">Upload Action</a><br><br>
    <a class="btn btn-warning btn-lg" th:href="@{/showLogs}">Logs</a>
</div>

<div style="display: flex;flex-direction: column;align-items: center;align-content: center;" sec:authorize="hasAuthority('ADMIN')">
    <a class="btn btn-success btn-lg" th:href="@{/admin/showUsers}">Registered Users</a><br><br>
    <a class="btn btn-warning btn-lg" th:href="@{/admin/showLogs}">User Logs</a>
</div>
</body>
</html>