<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<br>
<div class = "container">
    <div class = "row">
        <div class = "col-md-6 col-md-offset-3">
            <h1>Login</h1>
            <form th:action="@{/login}" method="post">

                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or password.</div>
                </div>

                <div th:if="${param.logout}">
                    <div class="alert alert-info">You have been logged out.</div>
                </div>
                <div class = "form-group">
                    Username :<input type="text" class = "form-control" id ="username" name = "username" required autofocus="autofocus">
                </div>
                <div class="form-group">
                    Password: <input type="password" id="password" name="password" class="form-control" required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Login" />
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group">
                  <span>New user? <a href="/" th:href="@{/register}">Register
                        here</a></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>