<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-mid-6 col-md-offset-3">
                <div th:if = "${param.success}">
                    <div class="alert alert-info">Successfully Registered</div>
                </div>

                <div th:if = "${param.failure}">
                    <div class="alert alert-danger">Already Registered !!</div>
                </div>

                <h1> Register Here</h1>
                <form th:action="@{/register}" method="post" th:object="${user}">
                    <div class="form-group">
                        Name: <input id="username" class="form-control" type="text" th:field="*{username}" required autofocus="autofocus"/>
                    </div>

                    <div class="form-group">
                        Email: <input id="email" class="form-control" type="text" th:field="*{email}" required autofocus="autofocus"/>
                    </div>

                    <div class="form-group">
                        Password: <input id="password" class="form-control" type="password" th:field="*{password}" required autofocus="autofocus"/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Register</button>
                        <span>Already registered? <a th:href="@{/login}">Login Here</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>