<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <style>
    table, th, td{
    border: 2px solid black;
    }
    th, td{
    padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}
    table{
    width: 100%
    }
    th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  </style>
  <meta charset="ISO-8859-1">
  <title>Policy Risk Mappings</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body style="height: 100%;display: flex;flex-direction: column;">
<div class="jumbotron jumbotron-fluid text-left" style="background-color:palegreen">
  <div class="container">
    <label class="display-4" sec:authentication="principal.username"></label>
    <h3>Policy Risk Mapping</h3>
  </div>
</div>
  <div class="form-group" style="margin:5%; margin-top:2%; margin-bottom:5%">
    <table>
      <thead>
      <tr>
        <th>Policy Id</th>
        <th>Policy Title</th>
        <th>Risk Id</th>
        <th>Risk Title</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="rp : ${logs}">
        <td th:text="${rp.policy_id}">Pid</td>
        <td><a th:text="${rp.policy_title}" th:href="@{/showPolicyDetail/{policyId}(policyId=${rp.policy_id})}">Link</a></td>
        <td th:text="${rp.risk_id}">Rid</td>
        <td><a th:text="${rp.risk_title}" th:href="@{/showRiskDetail/{riskId}/(riskId=${rp.risk_id})}">Link</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>